* {
	transition: all .1s ease-in;
	padding: 0;
    margin: 0 auto;
}

html, body {
	font-family: Arial, sans-serif;
	background-color: #F1F1F1;
	width: 100%;
	color: #C2C2C2;
}


.search-block {
	width: calc(100%-200px);
	margin-top: 25px;
	display:block;
	margin-bottom: 25px;
	margin-left: 100px;
	margin-right: 100px;
	height: 100%;
}

.search_form {
	color: #c2c2c2;
	border-style: none;
	width: 70%;
	font-size: 56px;
	background-color: #F1F1F1;
}

.button {
	background-color: #F1F1F1;
	width: 10%;
	margin-left: 5%;
	border:0;
}

.search-lists {
	width: calc(100% - 200px);
	display:inline-block;
	box-sizing:border-box;
	margin-left: 100px;
	margin-right: 100px;
}

div {
	box-sizing:border-box;
	height: 100%;
}

h2 {
	font-size: 20px;
}


ul {
	list-style:none;
	font-size: 0px;	
	width: 100%;
	display:inline-block;
}

li {
	margin-top:5px;
	background-color: rgba(118,117,128,0.05);
	color: #B8B8BA;
	font-size: 18px;
}

li:hover {
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
}

.avatar {
	border-radius: 100px;
	border: 1px solid #EBEBED;
}

input:focus {
	color: #ec5a62;
	font-size: 56px;
}

.column-1, .column-2, .column-3 {
	margin-top: 15px;
	display: inline-block;
	margin-bottom: 50px;
	min-height: 80%;
}

.column-1 {
width: 25%;
}

.column-2 {
	width: 25%;
	margin-left: 5%;
}

.column-3  {
	width: 25%;
	margin-left: 10%;
}
