* {
	transition: all .1s ease-in;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Arial, sans-serif;
	background-color: #F1F1F1;
	height: 100%;
}

body {
	color: #C2C2C2;
}

/*.container {
	width: 80%;
	margin: 0 auto;
}*/

.search-block {
	padding-top: 20px;
	display:block;
	margin-bottom: 25px;
	height: 50%;
	margin-left: 5%;
	width: 80%;
	margin: 0 auto;
}

.search_form {
	color: #c2c2c2;
	border-style: none;
	font-size: 56px;
	background-color: transparent;
	font-weight: 700;
	outline: none;
	dispaly: inline-block;
	vertical-align: top;
}

.button {
	background-color: #F1F1F1;
	border:0;
	width: 80px;
	height: 80px;
}

.button img {
	width: 20%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: auto;
}

.search-lists {
	display:inline-block;
	box-sizing:border-box;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

div {
	box-sizing:border-box;
}

h2 {
	font-size: 20px;
}


ul {
	list-style:none;
	font-size: 0px;	
	display:inline-block;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom:5px;
	background-color: rgba(118,117,128,0.05);
	color: #B8B8BA;
	font-size: 0px;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	margin-bottom: 5px;
	padding: 12px 5px;
	min-height: 60px;
}

li:hover {
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
}

.avatar {
	border-radius: 100px;
	border: 1px solid #EBEBED;
	height: 50px;
	width: 50px;
	margin: 0 auto;
	padding: 0px;
}

input:focus {
	color: #ec5a62;
	font-size: 56px;
}

.column-1, .column-2, .column-3 {
	margin-top: 15px;
	display: inline-block;
	vertical-align: top;
}
.column-1 {
width: 30%;
}

.column-2 {
	width: 30%;
	margin-left: 3%;

}

.column-3  {
	width: 30%;
	margin-left: 3%;
}

.image-container {
	width: 50px;
	display:inline-block;
	vertical-align: middle;
}

p {
	display: inline-block;
	width: 100%;
	font-size: 16px;
	vertical-align: middle;
	padding-left: 20px;
	position: absolute;
}
